:root {
    --h1-font-size: 2.2em;
}

html {
    box-sizing: border-box;
}

body, div, section, header, footer, main, figure, img, ul, li, h2, h3, h4, p, a, nav, button, input, textarea, form {
    box-sizing: inherit;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #d6eaf8;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #154360;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 10px;
    font-size: var(--h1-font-size);
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 20px;
}

nav a:hover {
    text-decoration: underline;
    color: #f4a261; 
}

a {
    color: #1d3557;
    text-decoration: none;
}

a:hover {
    color: goldenrod;
}

main a:visited {
    color: #4e54c8;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

section {
    width: 100%;
    font-size: 1.2em;
    text-align: left;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    margin: 20px 0; 
    box-sizing: border-box;
}

footer {
    text-align: center;
    background: #154360;
    color: white;
    padding: 15px;
    margin-top: auto;
}

footer p a {
    color: #ffcc00; 
    font-weight: bold;
}

footer p a:hover {
    color: #000000; 
    text-decoration: underline;
}

figure {
    text-align: center;
    margin-top: 20px;
}

figure img {
    width: 100%;
    max-width: 500px;
    border-radius: 59px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

figcaption {
    margin-top: 5px;
    font-style: italic;
}

/* Tablet styles */
@media (min-width: 601px) and (max-width: 980px) {
    :root {
        --h1-font-size: 2em;
    }

    nav {
        padding: 10px 0;
    }

    nav a {
        margin: 0 10px;
    }

    section {
        padding: 20px;
        font-size: 1.1em;
    }
}

/* Mobile styles */
@media (min-width: 370px) and (max-width: 600px) {
    :root {
        --h1-font-size: 1.8em;
    }

    header {
        padding: 15px;
    }

    nav {
        padding: 5px 0;
    }

    nav a {
        display: block;
        margin: 8px 0;
    }

    main {
        width: 95%;
        padding: 10px 0;
    }

    section {
        padding: 15px;
        font-size: 1em;
        margin: 15px 0;
    }

    figure img {
        border-radius: 30px;
    }
}
