<nav>
    <a href="https://webpages.charlotte.edu/dmekhaei/">CLT Web</a>
    ||
    <a href="https://github.com/david801380511">Github</a>
    ||
    <a href="https://github.com/david801380511/david801380511.github.io">Github.io</a>
    ||
    <a href="http://david801380511.github.io/itis3135/">ITIS3135.io</a>
    ||
    <a href="https://www.freecodecamp.org/DavidMekhaeilUNCC">FreeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/DavidMekhaeilUNCC">Codecademy</a>
    ||
    <a href="http://www.linkedin.com/in/davidhmekhaeil">LinkedIn</a>
</nav>

<p>Page Built by <a href="zduskymegopode/index.html">Dusky Megapode Drones</a> © 2023 </p>
<p>Designed by <a href="mekhaeildigital.cloud/">Mekhaeil Digital</a>, <em><a href="https://www.freecodecamp.org/certification/DavidMekhaeilUNCC/responsive-web-design" target="_blank">Certified in Responsive Web Design</a></em>.</p>