<h1>David Mekhaeil's Dusky Megapode || ITIS 3135 course page!</h1>
        <nav>
            <a href="./" target="_blank">Home</a>
            ||
            <a href="introduction.html" target="_blank">Introduction</a>
            ||
            <a href="contract.html" target="_blank">Contract</a>
            ||
            <a href="tables.html" target="_blank">Tables</a>
            ||
            <a href="website_evaluations.html" target="_blank">Website Evaluations</a>
            ||
            <a href="https://github.com/david801380511/david801380511.github.io" target="_blank">Github.io</a>
            ||
            <a href="project/index.html" target="_blank">Project</a>
            ||
            <a href="hobby/index.html" target="_blank">Manga/Manhwa Journal</a>
        </nav>
        <nav>
            <a href="../stuff/BAD PAGE!.htm" target="_blank">Worst Page Ever</a>
        </nav>