<h1>David Mekhaeil's Dusky Megapode || ITIS 3135 course page!</h1>
        <nav>
            <a href="/itis3135/" target="_blank">Home</a>
            ||
            <a href="/itis3135/introduction.html" target="_blank">Introduction</a>
            ||
            <a href="/itis3135/contract.html" target="_blank">Contract</a>
            ||
            <a href="/itis3135/tables.html" target="_blank">Tables</a>
            ||
            <a href="/itis3135/website_evaluations.html" target="_blank">Website Evaluations</a>
            ||
            <a href="/itis3135/byo_intro.html" target="_blank">BYO Intro</a>
            ||
            <a href="https://github.com/david801380511/david801380511.github.io" target="_blank">Github.io</a>
            ||
            <a href="/itis3135/project/project-plan/index.html" target="_blank">Project Plan</a>
            ||
            <a href="/itis3135/project/" target="_blank">Sourdough Project</a>
            ||
            <a href="/itis3135/hobby/index.html" target="_blank">Manga/Manhwa Journal</a>
        </nav>
        <nav>
            <a href="/itis3135/stuff/BAD PAGE!.htm" target="_blank">Worst Page Ever</a>
        </nav>