<h1>David Mekhaeil's Dusky Megapode || ITIS 3135 course page!</h1>
        <nav>
            <a href="./">Home</a>
            ||
            <a href="introduction.html">Introduction</a>
            ||
            <a href="contract.html">Contract</a>
            ||
            <a href="tables.html">Tables</a>
            ||
            <a href="website_evaluations.html">Website Evaluations</a>
            ||
            <a href="byo_intro.html">BYO Intro</a>
            ||
            <a href="https://github.com/david801380511/david801380511.github.io" target="_blank">Github.io</a>
            ||
            <a href="project/project-plan/">Project Plan</a>
            ||
            <a href="project/">Sourdough Project</a>
            ||
            <a href="hobby/">Manga/Manhwa Journal</a>
        </nav>
        <nav>
            <a href="stuff/BAD%20PAGE!.htm">Worst Page Ever</a>
        </nav>